In [22]:
import pandas as pd
import seaborn as sb
from matplotlib import pyplot as plt

### Which are the healthiest cocktails (low sugar & low calories) ?

In [2]:
top20_healthy = pd.read_csv('top20_healthiest.csv', sep=',')

In [3]:
top20_healthy #only counting unique values for non-null rows & unique cocktails

    cocktail_id                                      name sugar calories
0           409                                Bullfrog 2    1g    3kcal
1          4508                                  Wet Kiss    1g    6kcal
2          3526  Red Light, Green Light – Squid Game Shot    1g   10kcal
3          1729                            Carnival Punch    4g   16kcal
4          3786                                Pisco Sour    2g   21kcal
5          1391                        Champagne Cocktail    4g   26kcal
6           709                     Bellini Glow Cocktail    1g   28kcal
7          4470                         Vodka Jello Shots  0.4g   29kcal
8          4417                        A Nap at Charlie`s    4g   33kcal
9          4894                 Articuno Pokemon Cocktail    1g   51kcal
10         1717                         Catwoman Cocktail    3g   57kcal
11         2516                                  Gimlet 2    1g   67kcal
12         3990                       Raspiroska Cocktail    2g   82kcal
13         2813                         Ice Pick Cocktail    4g   83kcal
14         2277                          Florida Cocktail    5g   87kcal
15         2691                          Hilgert Cocktail    2g   97kcal
16         4279                   Tiffany`s Wet and Ready    1g  103kcal
17         4612                             Absent Friend    1g  106kcal
18         4617                   American Flyer Cocktail    1g  109kcal
19         4549                              2000 Flushes    6g  112kcal

### Which are the most caloric cocktails ?

In [15]:
top20_calories = pd.read_csv('top20_most_calories.csv', sep=',')

In [17]:
top20_calories.rename(columns={'amount':'calories'}, inplace=True)
top20_calories.drop(columns='nutrient', inplace=True)

In [18]:
top20_calories #only counting unique values for non-null rows & unique cocktails

                                       name  calories
0                Apples and Oranges Martini  2036kcal
1                            414SS Daiquiri  1552kcal
2         Blueberry Infused Vodka Lemonade   1529kcal
3                    3 for a Dollar Special  1525kcal
4                    Chocolate Sin Cocktail  1511kcal
5             Halloween Eyeball Jello Shots  1240kcal
6                   The Panem-anian Soother  1136kcal
7                    Blue Bulldog Margarita  1135kcal
8                         209 East Cocktail  1099kcal
9                             Fans Cocktail  1096kcal
10                              Farthingale  1062kcal
11         Strawberry Margarita Jello Shots  1058kcal
12                         Mae West Martini   998kcal
13  Long Island Iced Tea infused Watermelon   968kcal
14                        Classic Hot Toddy   961kcal
15              Sugar Syrup Cocktail Recipe   952kcal
16                       Wet Pussy Cocktail   871kcal
17                       Chewbacca Cocktail   814kcal
18                    A Very Berry Surprise   774kcal
19                        Dickheads Delight   741kcal

### Which are the most popular ingredients ?

In [23]:
top20_ingredients = pd.read_csv('top22_ingredients.csv', sep=',')

In [25]:
top20_ingredients.head(20) #only counting unique cocktails & occurences for non-null rows

   ingredient  occurrence
0       Juice          93
1     Liqueur          93
2       Vodka          51
3         Rum          47
4       Lemon          40
5       Syrup          40
6       Apple          39
7        Soda          38
8         Gin          35
9      Orange          34
10       Lime          31
11   Schnapps          30
12     Whisky          20
13  Chocolate          20
14     Brandy          18
15       Beer          18
16       Wine          16
17     Coffee          12
18    Tequila          12
19      Cider           6